body {
  background-color: #ff7761;
}

#header {
  margin: 0%;
}

div.inner {
  background: url(https://lh3.googleusercontent.com/rHXRs4fPrio-lT4b-5nQfTPvEFtD15OmvBeimSDe4826OqiEPvwi0pZV2BguHz6gv4z41mJii7QTk8rXlnbvtQwRaGHurAW4wKxyvD5qkeKCvvGL9zHjBYogY_oatq-mJPMn3zSeyWlvtlipFQq38hFPpSKfGUvsETVIR3ocvJ2_MpYY3Yz4KGOEnaAU_BikirdyOfSKa6V1Anze0ZY_wwibaxU5PyeYoPI_lyEYRV2-URcGiVrkcNin3ainafaTM24DnSfjJxmkW9_v9_UEsbmnApxfqdJbdAp-5hk_JoIeiusFEen38PtxEDDRV8V4Og90QPRoCiNodC-JZs4G7LYot8WCXfDa4_e8uDiTgONM7gJrH-sXeluPAPkgwhYYZZekLtQ_qZpBojUoerPdVyR5FH4lyK2iTbqtG-e3Bj-8h936Bg-S6aXeq6XpcMbD3h0uxs5udI-9JxWJNuP2EOYdEsT4xLkflmeTUfeVymy8T0iP1ePPgBwBwyt9YpUDMYoTpIhiiNEn69iuB36Fn2cWz7qfU7s_5BOGNCaSxWTXRZTxeTJqpkS6vmpwwkD0nr6BKLBC7ae8jVmy8xYjNReqdQdBB9oQzkl60ycNfTNccer3Gkw-yUWBcaDmvl_9SbuHh4IWdisAMJOn9aabzpard_5QblMwLxSmhjqhUrBR9J5PPJ6qFUxDyNzX3iRjU0eIoZG_lTPL7aCHBIu4Uakf=w640-h800-no?authuser=0);
  opacity: 0.8;
  text-decoration: none;
  width: 100%;
  height: 50%;
  font-size: 30px;
  font-weight: bold;
  font-family: 標楷體;
  text-shadow: 0px 3px 0px #F9844A,
    0px 14px 10px rgba(0, 0, 0, 0.15),
    0px 24px 2px rgba(0, 0, 0, 0.1),
    0px 34px 30px rgba(0, 0, 0, 0.1);
  font-style: normal;
  color: #F8F9FA;
  letter-spacing: 1px;
  text-align: center;
  margin: 0%;
}

#footer {

  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  background-color: #e1eef6;
  font-size: 18px;
  text-align: center;
  color: #343A40;
  padding-top: 10px;
  padding-bottom: 10px;
}

#pagetop {
  float: left;
  font-size: 20px;
}

#catch {
  font-size: 30px;
  color: #e1eef6;
  letter-spacing: 1px;
  text-align: center;
  padding-bottom: 5%;
}